/* 1. FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* 2. CSS RESET & DEFAULTS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Set base font size to 16px, making 1rem = 16px for easy calculations */
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdfdfd;
  margin: 0 auto; /* Center the content */
}

/* 3. TYPOGRAPHY STYLES */

/* Headings */
h1, h2, h3, h4, h5 {
  margin-bottom: 0.75rem;
  width: auto;
  max-width: 100%;
  line-height: 1.2;
  font-weight: 700;
  overflow-wrap: break-word;
}

h1 {
  font-size: 4.5rem; /* 40px */
}

h2 {
  font-size: 3.5rem; /* 32px */
}

h3 {
  font-size: 2.5rem; /* 28px */
}

h4 {
  font-size: 2rem; /* 24px */
}

h5 {
  font-size: 1.5rem; /* 20px */
}

/* Paragraph */
p {
  margin-bottom: 1rem;
  width: auto;
  max-width: 100%;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  overflow-wrap: break-word;
}

/* Lists */
ul, ol {
  margin-bottom: 1rem;
  padding-left: 2rem; /* Indent list items */
}

li {
  margin-bottom: 0.5rem;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.ql-align-left {
  text-align: left;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}

.default-image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.spacer {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

hr {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 75%;
  height: 2px;
  background-color: silver;
  border: none;
}

@media screen and (max-width: 900px) {
  .custom-styles {
    padding: 0px !important;
    max-width: 100% !important;
  }
}

header {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #2D2D3A;
    border-bottom: 2px solid #555BBB;
    z-index: 999;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2D2D3A;
    z-index: 999;
}
/*Classes*/

.headerImage {
    position: relative;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica";
    font-size: 12pt;
    text-align: center;
}

.featuredImage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}

/*Media Queries*/

@media screen and (max-width: 480px) {
    .featuredImage {
        width: 500px;
    }
}

@media screen and (max-width: 480px) {
    br {
        line-height: 30px;
    }
}

/*New Styles*/

.building-environment {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

        .building-container {
            display: grid;
            position: relative;
            width: 100%;
            gap: 1rem;
        }

        /* 1 column */
        .building-column-span-one {
            display: grid;
            grid-template-columns: 1fr;
            padding: 1rem;
            gap: 1rem;
        }

        /* 2 columns */
        .building-column-span-two {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        /* 3 columns */
        .building-column-span-three {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        /* 4 columns */
        .building-column-span-four {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        /* 5 columns */
        .building-column-span-five {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        /* 6 columns */
        .building-column-span-six {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        /* Asymm left column */
        .building-column-span-asymm-left {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 1rem;
        gap: 1rem;
        }

        /* Asymm right column */
        .building-column-span-asymm-right {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 1rem;
        gap: 1rem;
        }

        /* Responsive media queries for all spans */
        @media (max-width: 1200px) {
            .building-column-span-six {
                grid-template-columns: repeat(3, 1fr);
            }

            .building-column-span-five {
                grid-template-columns: repeat(3, 1fr);
            }

            .building-column-span-four {
                grid-template-columns: repeat(2, 1fr);
            }

            .building-column-span-three {
                grid-template-columns: repeat(2, 1fr);
            }

            .building-column-span-two {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 900px) {

            .building-column-span-six,
            .building-column-span-five,
            .building-column-span-four,
            .building-column-span-three,
            .building-column-span-two,
            .building-column-span-asymm-left,
            .building-column-span-asymm-right {
                grid-template-columns: 1fr;
            }
        }

        /* Column content alignment */
        .building-column-content-top {
            align-self: start;
        }

        .building-column-content-center {
            align-self: center;
        }

        .building-column-content-bottom {
            align-self: end;
        }

        /* Block alignment */
        .building-block-align-left {
            justify-self: start;
        }

        .building-block-align-center {
            justify-self: center;
        }

        .building-block-align-right {
            justify-self: end;
        }

        /* Stretch / grow adjustments */
        .building-column-stretch {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .building-column-grow {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .building-column {
            display: block;
            position: relative;
        }
